.item {
   position: relative;
   width: 64px;
   height: 64px;
   //position: absolute;
   background: #1C1C21;
   border: 1px solid #00f;
   border-radius: 50%;
}

.item::before {
   //display: block;
   //position: absolute;
   //border-radius: 50%;
   //content: '';
   //width: 64px;
   //height: 64px;
   //background: #1C1C21;
}

.item::after {
   display: block;
   //position: absolute;
   width: 64px;
   height: 64px;
   border-radius: 50%;
   content: '';
   border: 2px solid transparent;
   background: linear-gradient(45deg, #801AB2, #4C4CFF) border-box;
   -webkit-mask: linear-gradient(#801AB2 0 0) padding-box, linear-gradient(#4C4CFF 0 0);
   -webkit-mask-composite: xor;
   //mask-composite: exclude;
}

.icon {
   position: absolute;
   top: 25%;
   left: 0px;
   right: 0px;
   max-width: 64px;
   margin-left: auto;
   margin-right: auto;
   overflow: auto;
   text-align: center;
}

.icon_inactive {
   position: absolute;
   top: 25%;
   left: 0px;
   right: 0px;
   max-width: 64px;
   margin-left: auto;
   margin-right: auto;
   overflow: auto;
   text-align: center;
   opacity: 0.2;
   filter: alpha(opacity=20);
}

.counter {
   position: absolute;
   top: 30%;
   left: 0px;
   right: 0px;
   max-width: 64px;
   margin-left: auto;
   margin-right: auto;
   overflow: auto;
   text-align: center;
}