.App {
   text-align: center;
   margin: 0 auto;
   width: 100%;
}

.App * { border: 0px solid #fff }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header_section {
   background: #333;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

p {
   margin: 0px;
   padding: 0px;
}