.App {
   display: grid;
   grid-template-columns: auto 1200px auto;
   grid-template-rows: auto auto auto;

   grid-template-areas:
    "header header header"
    ". title ."
    ". page-content .";

   gap: 0px;

   text-align: center;
   margin: 0 auto;
   width: 100%;
}

.App * {
   border: 0px solid #0f0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header_section {
   background: #333;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.app_title {
   margin: 20px auto;
   padding: 2px;
}

.container_title {
   grid-area: title;
   gap: 2px;
   margin: 0px;
   padding: 2px;
   text-align: left;
}

.container {
   display: flex;
   justify-content: flex-start;
   /* grid-area: page-content; */
   vertical-align: top;
}

p {
   margin: 0px;
   padding: 0px;
}