.checkbox {
   position: absolute;
   width: 120px;
   height: 120px;
   left: 300px;
   top: 362px;

   /* background: url(.png); */
   /* interface/accent */

   border: 1px dashed #4C4CFF;
}

.digits {
   text-shadow: 5px 5px 25px #55f;
}

.done {
   margin: 50px;
}

.text {
   margin: 10px;
}