.window-modal {
   position: relative;
   width: 600px;
   top: 0;
   align-items: center;
   margin: 0px auto;
   padding: 20px;
   background: #1c1c21;
   color: #fff;
   border-radius: 30px;
   box-shadow: 3px 3px 5px 0px #777;
}

.modal-header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin: 0px auto;
}

.window-message {
   margin-top: 20px;
   text-align: center;
}

.close-icon {
   padding: 10px 10px;
   cursor: pointer;
}
