.header {
   width: 100%;
   background: #131316;
}

.header_container {
   display: flex;
   width: 1280px;
   height: 88px;
   left: 2%;
   right: 2%;
   margin: 0px auto;
   background: #1c1c21;
   align-items: center;
}

.header_element {
   margin: auto;
   list-style-type: none;
   border: 0px solid #0f0;
   width: calc(50% - 150px);
   display: flex;
   align-items: center;
}

.left {
   justify-content: left;
}

.right {
   justify-content: right;
}

.center {
   justify-content: center;
}

.link {
   margin: 10px;
   text-decoration: none;
}

.link_active {
   color: #0f0;
}

.text_color_default {
   color: #eee;
}