
.header_container {
   display: flex;
   justify-content: left;
   border: 0px solid #fff;
   align-items: center;
}

.header_element {
   margin: auto;
   list-style-type: none;
   border: 0px solid #0f0;
   width: calc(50% - 150px);
   display: flex;
   align-items: center;
}

.left {
   justify-content: left;
}

.right {
   justify-content: right;
}

.center {
   justify-content: center;
}

.menulink {
   margin: 10px;
   text-decoration: none;
}

.text_color_default {
   color: #eee;
}