.BurgerConstructor {
   margin-left: 5px;
   width: 50%;
   max-height: calc(100vh - 450px);
   border: 0px solid #00f;
}

.burgerconstructor_list {
   list-style-type: none;
   border: 0px solid #0f0;
}

.burgerconstructor_scroll_block {
   min-height: calc(100vh - 450px);
   //max-height: calc(100vh - 450px);
   max-height: 100px;
   overflow-y: auto;
   padding: 0px;
   margin: 0px;
   width: 100%;
   border: 0px dashed #0f0;
}

li {
   margin: 5px;
}

.mr10 {
   margin: 10px;
}

.constructor_footer {
   display: flex;
   flex-direction: row;
   align-items: right;
   justify-content: flex-end;
   flex-wrap: nowrap;
   text-align: right;
   vertical-align: middle;
   margin: 10px;
   gap: 20px;
}

.burgerconstructor_scroll_block::-webkit-scrollbar {
   width: 3px;
}

.burgerconstructor_scroll_block::-webkit-scrollbar-track {
   width: 3px;
   background-color: #333;
}

.burgerconstructor_scroll_block::-webkit-scrollbar-thumb {
   width: 5px;
   background-color: #88f;
}